#changePasswordModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1060;
}

#changePasswordModal.modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    margin: 40px auto;
}

#changePasswordModal.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#changePasswordModal.close svg {
    fill: #337AB7;
}

#changePasswordModal.form-group {
    margin-bottom: 20px;
}

#changePasswordModal.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#changePasswordModal.input-group {
    display: flex;
    align-items: center;
}

#changePasswordModal.input-group input {
    width: 75%; /* adjust the width to your liking */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#changePasswordModal.input-group.check-btn {
    width: 23%; /* adjust the width to your liking */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #337AB7;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

#changePasswordModal.input-group.check-btn:hover {
    background-color: #23527C;
}

#changePasswordModal.button-group {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#changePasswordModal.button {
    background-color: #337AB7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
#changePasswordModal.form-group input:focus {
    outline: none;
}
#changePasswordModal.input-group input:focus {
    outline: none;
}
#changePasswordModal.button:hover {
    background-color: #23527C;
}
#changePasswordModal.is-valid {
    border: 1px solid #34f534;
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.5);
}

#changePasswordModal.is-invalid {
    border: 1px solid #ff0000;
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.5);
}
