.chat-container {
    display: flex;
    max-width: 800px;
    min-width: 1082px;
    min-height: 580px;
    max-height: 500px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Users List */
.users-list {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container {
    height: 100%;
    overflow-y: auto; /* Scrollable users list */
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.user-item {
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
    font-size: larger;
    margin-left: 40px;
}

.separator {
    height: 1px;
    background-color: lightslategray;
    margin: 10px 0;
}

/* Chat Area */
.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    /*padding: 20px;*/
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: lightblue;
}

/* Messages */
.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
    margin-top: 10px;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.sender {
    background-color: cornflowerblue;
    color: #fff;
    align-self: flex-end;
    margin-top: 5px;
}

.receiver {
    background-color: #ecf0f1;
    color: #000000;
    align-self: flex-start;
    margin-top: 5px;
}

/* Message Input */
.message-input {
    margin-top: auto;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: white;
    color: #0d6efd;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
}

/* User Form */
.user-form {
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff; /* White form background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
}

.user-form input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-form button {
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Hidden Element */
.hidden {
    display: none;
}

/* Bar Above Messages */
/*.bar-above-messages {*/
/*    background-color: cornflowerblue;*/
/*    color: #fff;*/
/*    padding: 12px;*/
/*    text-align: right;*/
/*}*/
#bar-above-messages {
    background-color: cornflowerblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#group-photo-id {
    margin-right: 10px;
}

.room-info-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px
}

.room-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.room-name {
    font-weight: bold;
    margin-right: 10px;
    display: block;
}

.room-participants {
    color: black;
    display: block;
    margin-top: 5px;
    font-size: 15px;
}
#IsSelected .dropdown-menu {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
}

#IsSelected .dropdown-menu li {
    list-style: none;
}

#IsSelected .dropdown-menu li a {
    color: black;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

#IsSelected .dropdown-menu li a:hover {
    background-color: #f0f0f0;
}

/* Add this CSS to your stylesheet */


.delete-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
    color: red;
    margin-bottom: -15px;
}

.message-content-container:hover .delete-icon {
    display: block;
}

.message-content-container {
    position: relative; /* Ensures the delete icon is positioned relative to the message content */
    /*display: flex;*/
    align-items: center; /* Center align items vertically */
    justify-content: space-between; /* Space out content and delete icon */
}

.delete-icon {
    cursor: pointer;
    color: red;
    margin-left: 10px; /* Space between content and delete icon */
}

#IsSelected .dropdown-menu li:last-child a {
    border-bottom: none;
}

.custom-dropdown-toggle {
    cursor: pointer;
}

