<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #fbc2eb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
        }
        .container{
            background: #eee;
            display: flex;
        }
        .middle-panel{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .post{
            width: 550px;
            background: #fff;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
        }
        .post .post-top{
            display: flex;
            align-items: center;
            padding: 10px;
        }
        .post .post-top .dp{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }
        .post .post-top .dp > img{
            width: 100%;
            cursor: pointer;
        }
        .post .post-top .post-info{
            margin-left: 10px;
            font-weight: bold;
        }
        .post .post-top .post-info .name{
            cursor: pointer;
            font-size: 16px;

        }
        .post .post-top .post-info .time{
            font-size: 12px;
            cursor: pointer;
        }
        .post .post-top i{
            margin-left: auto;
            cursor: pointer;
        }
        .post .post-top > input{
            height: 40px;
            padding: 5px 10px;
            border-radius: 25px;
            outline: none;
            border: none;
            flex: 1;
            background: #eee;
            margin-left: 10px;
        }
        .post .post-content {
            font-size: 16px;
            font-weight: normal;
            padding: 10px;
        }
        .post .post-content > img ,.post .post-content > video{
            width: 100%;
            margin: 5px 0px;
        }
        .post .post-bottom {
            box-shadow: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            padding: 5px 5px 0px 5px;
        }
        .post .post-bottom .action{
            padding: 10px;
            border-radius: 10px;
            transition: .3s ease-in;
            cursor: pointer;
        }
        .post .post-bottom .action:hover{
            background: #eee;
        }
        .post.create .post-bottom > .action{
            color: #d74;

        }
    </style>
</head>
<body>
<div th:replace="~{index::header}"></div>
<div th:replace="~{index::navbar}"></div>
<main id="main" class="main">
     <span id="invitationMessage"></span>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <img id="communityImage" src="/assets/img/pf-bg1.gif" width="300" height="300">
            <h1 id="communityName" style="font-weight: bold">Spider Man</h1>
            <p id="communityMembers" ><i class="fa-solid fa-earth-americas"></i>Public group 10members</p>
            <div class="button-group">
                <button type="button" class="btn btn-secondary btn-lg" id="chatMessageIconForGroup" value="Message" style="display: none"><i class="fa-solid fa-message"></i>Message</button>
                <button type="button" class="btn btn-primary btn-lg" value="Invite" id="inviteBtn" onclick="populateCreateGroupFormForInvitation()" style="display: none"><i class="fa-solid fa-user-plus"></i>Invite</button>

            </div>

            <div id="createBtns">

            </div>

            <div class="container">
                <div class="modal fade" id="invitationFormModal" tabindex="-1" aria-labelledby="createCommunityModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createGroupModalLabel">Invite friends</h5>
                            </div>
                            <div class="modal-body">
                                <form id="inviteForm">
                                    <input type="hidden" id="communityId1" name="communityId">
                                    <div class="row mb-4">
                                        <label>Choose Member's List:</label><br>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="userSearch" placeholder="Search users.." style="margin-left: 329px">
                                            <div id="usersList"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="inviteModalCloseBtn">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="inviteFriendBtn" >Invite</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="middle-panel">

                <div class="post create">
                    <div class="post-top">
                        <div class="dp">
                            <img src="/assets/img/pf-bg1.gif" alt="">
                        </div>
                        <input type="text" placeholder="What's on your mind?">
                    </div>
                    <div class="post-bottom">
                        <div class="action">
                            <i class="fa fa-video"></i>
                            <span>Live Video</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-photo"></i>
                            <span>Photo/Video</span>
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-face-smile"></i>
                            <span>Feeling/Activity</span>
                        </div>
                    </div>
                </div>


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" onclick="getPosts()" id="newsfeed-tab"  data-bs-toggle="tab" data-bs-target="#newsfeedTab" type="button" role="tab" aria-controls="Newsfeed" aria-selected="true">Newsfeed</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" onclick="getEvents()" id="events-tab" data-bs-toggle="tab" data-bs-target="#eventsTab" type="button" role="tab" aria-controls="Events" aria-selected="false">Events</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" onclick="getPolls()" id="polls-tab" data-bs-toggle="tab" data-bs-target="#pollsTab" type="button" role="tab" aria-controls="Polls" aria-selected="false">Polls</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="newsfeedTab" role="tabpanel" aria-labelledby="newsfeed-tab">
                        <div id="newsfeed"  class=""></div>
                    </div>
                    <div class="tab-pane fade" id="eventsTab" role="tabpanel" aria-labelledby="events-tab">
                        <div id="events"  class=""></div>
                    </div>
                    <div class="tab-pane fade" id="pollsTab" role="tabpanel" aria-labelledby="polls-tab">
                        <div id="polls" class=" "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    
    <!-- post create offcanvas start  -->

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="postMaker" aria-labelledby="postMaker">


        <div id="mentionSuggestions" class="font-monospace"></div>
        <div class="offcanvas-header">
            <h5 class="offcanvas-title font-monospace" id="postMaker">Create Status</h5>
            <button type="button"   onclick="removePreview()" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body font-monospace">
            <form id="postForm">



                <!-- Quill Editor Default -->
                <div class="row mb-3">
                    <label for="status" class="font-monospace ">Your Status <i class="fa-solid fa-font"></i></label>
                    <div class="col-sm-10">

                                <textarea class="form-control  font-monospace" style="height: 200px; border-radius: 20px; border: none;" name="content"
                                          id="content"></textarea>

                    </div>
                </div>


                <div class="row mb-3">
                    <label id="video-icon"  for="formFile" class="font-monospace">Video/Image <i class="fa-solid fa-photo-film"> <input class="form-control font-monospace" type="file" id="file" name="file" multiple style="display: none;"></i></label>
                    <div class="col-sm-10">
                    </div>
                </div>
                <div class="row mb-3" hidden>
                    <label class="font-monospace">Community <i class="fa-solid fa-users"></i></label>
                    <div class="col-sm-10">
                        <select class="form-select font-monospace" id="groupSelect1" name="groupId"
                                aria-label="Default select example">

                        </select>
                    </div>
                </div>



            </form><!-- End General Form Elements -->
            <!-- End Quill Editor Default -->
            <div class="container">
                <div id="preview" class="row" ></div>
            </div>


            <button style="margin-left: 200px; border-radius: 10px;" type="button" class="btn btn-primary" onclick="createPost()" data-bs-dismiss="offcanvas"  aria-label="Close">POST
            </button>
        </div>
    </div>


      <!-- post create offcanvas end  -->



            <!-- event create offcanvas start  -->

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="eventMaker" aria-labelledby="eventMaker">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="eventMaker">Create Announcement</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
         
                                    <form id="eventForm" class="font-monospace">
                                        <label for="title" class="font-monospace m-2">Title <i class="fa-solid fa-sign-hanging"></i></label>
                                        <input type="text" style="border: none; border-radius: 10px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);" class="form-control m-2 font-monospace" name="title" id="eventtitle">
        
                                        <label for="description" class="font-monospace m-2">Description <i class="fa-solid fa-info"></i></label>
                                        <textarea style="border: none; border-radius: 20px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5); height: 200px;" class="form-control font-monospace  m-2"  name="description" id="eventdescription" ></textarea>
        
                                        <label id="labelForEventStartDate" for="start_date" class="font-monospace m-2">Start <i class="fa-regular fa-clock"></i></label>
                                        <input type="date" style="display: none; border: none; border-radius: 20px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5); " class="form-control m-2 font-monospace" name="start_date" id="start_date">
        
                                        <label id="labelForEventEndDate" for="end_date" class="font-monospace m-2">End <i class="fa-solid fa-clock"></i></label>
                                        <input type="date" style="display: none; border: none; border-radius: 20px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5); "   class="form-control m-2 font-monospace" name="end_date" id="end_date">
        
                                        <input type="text" name="eventType" id="eventType" value="EVENT" hidden>
        
                                        <label for="event_location" class="font-monospace m-2" >Location <i class="fa-regular fa-compass"></i></label>
                                        <input style="border: none; border-radius: 10px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);" type="text" value="" class="form-control m-2 font-monospace" name="location" id="location" >
        
                                        <label id="labelForEventPhoto" for="multipartFile" class="font-monospace m-2">Photo <i class="fa-solid fa-camera"></i></label>
                                        <input type="file" style="display: none;" name="multipartFile" class="form-control" id="eventPhotoFile" >
                
                                        <div class="row mb-3" hidden>
                                            <label class=" font-monospace">Commuinty <i class="fa-solid fa-users"></i></label>
                                            <div class="col-sm-10" >
                                                <select class="form-select font-monospace" id="groupSelect2" name="groupId" aria-label="Default select example">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        
                                            <button id="eventCreateBtn" style="margin-left: 200px; border-radius: 10px;" type="button" class="btn btn-primary" onclick="createEventPost()" data-bs-dismiss="offcanvas"  aria-label="Close" >POST</button>
                                        
                                    </form>
                          
                </div>
              </div>
        
        
              <!-- event create offcanvas end  -->


                    <!-- poll create offcanvas start  -->

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="pollMaker" aria-labelledby="pollMaker">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="pollMaker">Create Poll</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"> 
                    <form id="pollForm">
                        <label for="title" class="font-monospace m-2">Title <i class="fa-solid fa-sign-hanging"></i></label>
                        <input type="text" style="border: none; border-radius: 10px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);" class="form-control m-2 font-monospace" name="title" id="pollTitle">

                        <label for="description" class="font-monospace m-2">Description <i class="fa-solid fa-info"></i></label>
                        <textarea style="border: none; border-radius: 20px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5); height: 200px;" class="form-control font-monospace  m-2"  name="description" id="polldescription" ></textarea>

                        <label id="labelForPollStartDate" for="start_date" class="font-monospace m-2">Start <i class="fa-regular fa-clock"></i></label>
                        <input type="date" style="display: none; border: none; border-radius: 20px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5); " class="form-control m-2 font-monospace" name="start_date" id="poll_start_date">

                        <label id="labelForPollEndDate" for="end_date" class="font-monospace m-2">End <i class="fa-solid fa-clock"></i></label>
                        <input type="date" style="display: none; border: none; border-radius: 20px; box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5); "   class="form-control m-2 font-monospace" name="end_date" id="poll_end_date">

                        <input type="text" name="eventType" id="eventType" value="VOTE" hidden>

                        <label id="labelForPollPhoto" for="multipartFile" class="font-monospace m-2">Photo <i class="fa-solid fa-camera"></i></label>
                        <input type="file" style="display: none;" name="multipartFile" class="form-control" id="pollMultipartFile" >

                        <label for="options" class="font-monospace m-2">Add vote options </label>
                        <div class="d-flex"><input type="text" name="voteOptionInput" id="voteOptionInput" class="form-control font-monospace m-2"><button type="button" class="btn btn-primary " onclick="createAVoteOption()"><i class="fa-solid fa-plus text-white"></i></button></div>
                        <div>
                            <ul id="ulTag">

                            </ul>
                        </div>

                        <div class="row mb-3">
                            <label class="font-monospace m-2">Commuinty <i class="fa-solid fa-users"></i></label>
                            <div class="col-sm-10" >
                                <select class="form-select font-monospace m-2" id="groupSelect3" name="groupId" aria-label="Default select example">

                                </select>
                            </div>
                        </div>  
                            <button type="button" style="margin-left: 200px; border-radius: 10px;" class="btn btn-primary" id="pollCreateBtn"  onclick="createAPollPost()"  data-bs-dismiss="offcanvas"  aria-label="Close"  >POST</button>
                    </form> 
        </div>
      </div>


      <!-- poll create offcanvas end  -->


    <!-- loading modal box start  -->
    <div class="modal fade  " id="loadingModalBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border rounded-1">

                <div id="markBox" class="hidden">
                    <div class="check_mark">
                        <div class="sa-icon sa-success animate">
                            <span class="sa-line sa-tip animateSuccessTip"></span>
                            <span class="sa-line sa-long animateSuccessLong"></span>
                            <div class="sa-placeholder"></div>
                            <div class="sa-fix"></div>
                        </div>
                    </div>
                    <div>
                        <button id="restart" class="btn btn-success offset-10" data-bs-dismiss="modal"
                                onclick="setToNormal()">OK
                        </button>
                    </div>
                </div>

                <div id="catBox" class="">
                    <div class="box">
                        <div class="cat">
                            <div class="cat__body"></div>
                            <div class="cat__body"></div>
                            <div class="cat__tail"></div>
                            <div class="cat__head"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <!-- loading modal box end  -->

        <!-- edit modal box  -->
  

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="postEditOffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title font-monospace m-2" id="offcanvasWithBothOptionsLabel">Edit Post</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               
                       <div class="modal-body" id="editModal">
                           ...
                       </div>  
                           <button type="button" onclick="getUpdateData()"   class="btn btn-primary"
                           data-bs-dismiss="offcanvas"  aria-label="Close"  >Update
                           </button>
     
                    
               </div>
           </div>
       



      <!-- poll edit offcanvas start  -->



      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="pollEditOffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Edit Poll</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"> 
                        <div class="modal-body" id="pollEventEditModal">
        
                        </div>
        
                   
                
            
        </div>
      </div>


      <!-- poll edit offcanvas end  -->

     <!-- event edit offcanvas start  -->



     <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="eventEditOffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title font-monospace m-2" id="offcanvasWithBothOptionsLabel">Edit announcement</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
                        <div class="modal-body" id="eventEditModal">
        
                        </div>
        
                    
               
          
        </div>
      </div>


      <!-- event edit offcanvas end  -->


</main>
<div th:replace="~{index::footer}"></div>
    <script src="/static/assets/js/communityDetail.js"></script>
<!--    <script>-->
<!--        let communityId = localStorage.getItem('communityIdForDetailPage')-->
<!--    </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</body>
</html>
