<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{index::head}">
    <title>Create Community</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/search.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

      <header id="header" class="header fixed-top d-flex align-items-center">

          <div class="d-flex align-items-center justify-content-between">
              <a th:href="@{/index}" class="logo d-flex align-items-center">
                  <img src="/static/assets/img/DAT-logo.png" alt="">
                  <span class="d-none d-lg-block"  sec:authorize="hasAnyAuthority('ADMIN')">System-Admin</span>
                  <span class="d-none d-lg-block"  sec:authorize="hasAnyAuthority('USER')">Community-Hub</span>
                  <span class="d-none d-lg-block"  sec:authorize="hasAnyAuthority('DEFAULT_USER')">Community-Hub</span>
              </a>
              <i class="bi bi-list toggle-sidebar-btn"></i>
          </div><!-- End Logo -->
          <div>
            <div class="search-bar">
                <form class="search-form d-flex align-items-center" >
                    <input id="searchInput" type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="button" title="Search" onclick="searchMethod()"><i class="bi bi-search"></i></button>
                </form>
            </div>

          </div>
          
          <!-- End Search Bar -->

          <nav class="header-nav ms-auto">
              <ul class="d-flex align-items-center">

                  <li class="nav-item d-block d-lg-none">
                      <button class="nav-link nav-icon search-bar-toggle" onclick="searchMethod()">
                          <i class="bi bi-search"></i>
                      </button>
                  </li><!-- End Search Icon-->


                  <li class="nav-item dropdown">
                      <i class="fa-solid fa-calendar-days" data-bs-toggle="modal" onclick="seeEvents()" data-bs-target="#calendarModalBox" style="font-size: 22px; margin-right: 20px"></i>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link nav-icon" href="#" data-bs-toggle="modal" data-bs-target="#uploadExcelModal"
                         sec:authorize="hasAnyAuthority('ADMIN')">
                          <i class="bi bi-file-earmark-spreadsheet"></i>
                      </a><!-- End Excel Icon -->


                  </li>
                  <li class="nav-item dropdown">

                      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown" id="notiCountDecrease">
                          <i class="bi bi-bell"></i>
                          <span class="badge bg-primary badge-number" id="notiCount"></span>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                          <li class="dropdown-header">
                              <!--                        You have 4 new notifications-->
                              <a href="#"><span class="badge rounded-pill bg-info p-2 ms-2"
                                                id="notiId">View all</span></a>
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>

                          <li class="notification-item">
                              <div id="notifyMessage">
                              </div>
                          </li>

                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li class="dropdown-footer">
                              <i class="bi bi-bell-fill"></i><a type="button" data-bs-toggle="modal"
                                                                data-bs-target="#notificationStaticBox" onclick="fetchNotificationPerPage()">Show all
                              notifications</a>
                          </li>

                      </ul><!-- End Notification Dropdown Items -->

                  </li><!-- End Notification Nav -->

                  <li class="nav-item dropdown">

                      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                          <i class="bi bi-chat-left-text" data-bs-toggle="modal"
                             data-bs-target="#invitationStaticBox" ></i>
                          <span class="badge bg-success badge-number" id="inviteMessageCount" style="margin-top: -10px"></span>
                      </a><!-- End Messages Icon -->

                  </li><!-- End Messages Nav -->

                  <li class="nav-item dropdown pe-3">

                      <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                          <img id="session-user-photo" src="/static/assets/img/default-logo.png" alt="Profile"
                               th:unless="${session.user.photo}"/>
                          <img id="session-user-photo-exist" th:src="${session.user.photo}" th:if="${session.user.photo}" alt="Profile"/>
                          <!--                        <img th:unless="${session.user.photo == null}" th:src="${session.user.photo}" alt="Profile" class="rounded-circle" />-->
                          <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${session.user.name}">Name</span>
                      </a><!-- End Profile Iamge Icon -->

                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                          <li class="dropdown-header">
                              <h6 th:text="${session.user.name}">Name</h6>
                              <span th:text="${session.user.role}">Role</span>
                              <input type="hidden" id="userId1" name="userId" th:value="${session.user.id}">
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>

                          <li>
                              <a class="dropdown-item d-flex align-items-center" th:href="@{/user/profile}">
                                  <i class="bi bi-person"></i>
                                  <span>My Profile</span>
                              </a>
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li>
                              <a class="dropdown-item d-flex align-items-center" id="changePasswordBtn">
                                  <i class="bi bi-gear"></i>
                                  <span>Change Password</span>
                              </a>
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>

                          <li sec:authorize="hasAnyAuthority('ADMIN')">
                              <a class="dropdown-item d-flex align-items-center" id="addPolicyButton" data-bs-toggle="modal" data-bs-target="#addPolicyModal" aria-disabled="false">
                                  <i class="bi bi-body-text"></i>
                                  <span>Add Policy</span>
                              </a>
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li>
                              <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#logOutModalBox" >
                                  <i class="bi bi-box-arrow-right"></i>
                                  <span>Log Out</span>
                              </a>
                          </li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>

                      </ul>
                  </li><!-- End Profile Nav -->

              </ul>
          </nav><!-- End Icons Navigation -->

      </header><!-- End Header -->
<div th:replace="~{index::navbar}"></div>
<main id="main" class="main"  >

    <div id="suggestions-container" style="width: 100%;
    height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc; width:220px; position:absolute; background-color:transparent; border: none; ">
      <div id="post-suggestions" class="suggestion-category text-secondary"></div>
      <div id="event-suggestions" class="suggestion-category text-secondary"></div>
      <div id="poll-suggestions" class="suggestion-category text-secondary"></div>
      <div id="user-suggestions" class="suggestion-category text-secondary"></div>
      <div id="community-suggestions" class="suggestion-category text-secondary"></div>
  </div>


    <div class="middle-panel">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation"> 
            <button class="nav-link active"   id="post-search-tab" data-bs-toggle="pill" data-bs-target="#pills-post-search" type="button" role="tab" aria-controls="pills-post-search" aria-selected="true">Post</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link"   id="event-search-tab" data-bs-toggle="pill" data-bs-target="#pills-event-search" type="button" role="tab" aria-controls="pills-event-search" aria-selected="false">Event</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link"   id="poll-search-tab" data-bs-toggle="pill" data-bs-target="#pills-poll-search" type="button" role="tab" aria-controls="pills-poll-search" aria-selected="false">Poll</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"  id="user-search-tab" data-bs-toggle="pill" data-bs-target="#pills-user-search" type="button" role="tab" aria-controls="pills-user-search" aria-selected="false">User</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link"   id="community-search-tab" data-bs-toggle="pill" data-bs-target="#pills-community-search" type="button" role="tab" aria-controls="pills-community-search" aria-selected="false">Community</button>
              </li> 
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-post-search" role="tabpanel" aria-labelledby="pills-post-search-tab">...</div>
            <div class="tab-pane fade" id="pills-event-search" role="tabpanel" aria-labelledby="pills-event-search-tab">...</div>
            <div class="tab-pane fade" id="pills-poll-search" role="tabpanel" aria-labelledby="pills-poll-search-tab">...</div>
            <div class="tab-pane fade" id="pills-user-search" role="tabpanel" aria-labelledby="pills-user-search-tab"> 
            </div>
            <div class="tab-pane fade" id="pills-community-search" role="tabpanel" aria-labelledby="pills-community-search-tab">
              <div class="container" style="background-color:transparent">
                <div id="community-grid" class="row">
                  
                </div>
              </div>
            </div>
          </div>
    
    </div>


    <!-- nav bar start  -->

 
      <!-- nav bar end  -->

      <!-- result box start  -->
      <script src="/static/assets/js/search.js"></script>


 


   <!-- loading modal box start  -->
   <div class="modal fade  " id="loadingModalBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content border rounded-1" style="width:300px; margin-left:100px;">

          <div id="markBox" class="hidden">
              <div class="check_mark">
                  <div class="sa-icon sa-success animate">
                      <span class="sa-line sa-tip animateSuccessTip"></span>
                      <span class="sa-line sa-long animateSuccessLong"></span>
                      <div class="sa-placeholder"></div>
                      <div class="sa-fix"></div>
                  </div>
              </div>
              <div>
                  <button id="restart" style="background-color: #3192e0; border-radius: 10px; color:white; margin-left: 109px; margin-bottom: 20px;; " class="btn   " data-bs-dismiss="modal"
                          onclick="setToNormal()">Continue
                  </button>
              </div>
          </div>


              <div class="loader"></div>


          <!-- <div id="catBox" class="">
              <div class="box">
                  <div class="cat">
                      <div class="cat__body"></div>
                      <div class="cat__body"></div>
                      <div class="cat__tail"></div>
                      <div class="cat__head"></div>
                  </div>
              </div>
          </div> -->


      </div>
  </div>
</div>

<!-- loading modal box end  -->

 

 <!-- event edit offcanvas start  -->

 <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="eventEditOffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title font-monospace m-2" id="offcanvasWithBothOptionsLabel">Edit announcement</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        
                    <div class="modal-body" id="eventEditModal">
    
                    </div>
    
                
           
      
    </div>
  </div>


 <!-- event edit offcanvas end  -->


       <!-- poll edit offcanvas start  -->



       <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="pollEditOffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Edit Poll</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"> 
                        <div class="modal-body" id="pollEventEditModal">
        
                        </div>
        
                   
                
            
        </div>
      </div>


      <!-- poll edit offcanvas end  -->


  <!-- post edit offcanvas start -->

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="postEditOffcanvas" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title font-monospace m-2" id="offcanvasWithBothOptionsLabel">Edit Post</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" onclick="removePreviewForPostUpdate()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
       
               <div class="modal-body" id="editModal">
                   

                <div id="update-raw-old"></div>

                <div id="update-raw-preview"></div>

               </div>  
                   <button id="resourceUpdateButton" type="button" onclick="getUpdateData()"    class="btn btn-primary"
                   data-bs-dismiss="offcanvas"  aria-label="Close"  >Update
                   </button>

                   <button id="rawUpdateButton" type="button" onclick="getUpdateDataForRaw()"    class="btn btn-primary"
                   data-bs-dismiss="offcanvas"  aria-label="Close"  >Update
                   </button>
            
       </div>
   </div>

  <!-- post edit offcanvas end  -->

    <div class="modal fade" id="postUrlForShare" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px" id="forShareingContent">
                <div class="modal-header" style="background-color: #007bff;color: #fff">
                    <h5 class="modal-title" id="staticBackdropLabel" style="font-size: 18px;font-weight: bold"><i class="fa-solid fa-share"></i>Share</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex" id="forPostShareDiv">
                        <p><input id="postShareUrl" style="height: 50px; border-radius: 10px; width: 450px" readonly type="text" value="https://communityHub.com/posts/20c5acacf1-fe23-4b63-8cd7-bc50c643006c"></p>
                        <button type="button" onclick="copyButton()" class="btn btn-primary" style="height: 50px"><i class="fa-solid fa-copy"></i> Copy</button>
                        <div style="margin-left: 10px">
                            <select name="status" id="statusForShare" class="form-select" style="height: 50px; width: 140px;">
                                <option  value="">All Users</option>
                                <option  value="true">Active</option>
                                <option value="false">Removed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" aria-labelledby="uploadExcelModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #007bff; color: white;">
                    <h5 class="modal-title" id="uploadExcelModalLabel">Upload Excel File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="uploadForm">
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Select Excel file</label>
                            <input class="form-control" type="file" id="fileInput" name="file" accept=".xlsx, .xls">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="uploadButton">Upload</button>
                </div>
            </div>
            <script src="/static/assets/js/excelUpload.js"></script>
        </div>
    </div>
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Success</h5>
                </div>
                <div class="modal-body">
                    <p>Data upload into the database successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="changePasswordModal" class="modal fade" tabindex="-1">
        <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/modals.css}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="currentPassword">Current Password:</label>
                        <div class="input-group">
                            <input type="password" id="currentPassword" name="currentPassword" required class="form-control">
                            <button id="checkPasswordBtn" class="btn btn-primary">Check</button>
                        </div>
                    </div>
                    <div id="changePasswordFields">
                        <div class="form-group">
                            <label for="changePassword">New Password:</label>
                            <input type="password" id="changePassword" name="changePassword" required class="form-control">
                            <div id="changePasswordMessage" class="text-danger" style="display: none">Your password is weak.</div>
                        </div>
                        <div class="form-group">
                            <label for="confirmChangePassword">Confirm Password:</label>
                            <input type="password" id="confirmChangePassword" name="confirmChangePassword" required class="form-control">
                            <div id="confirmChangePasswordMessage" class="text-danger" style="display: none">Passwords do not match.</div>
                        </div>
                        <div class="button-group">
                            <button id="restartBtn" class="btn btn-secondary">Restart</button>
                            <button id="saveBtn" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/assets/js/changePassword.js" defer></script>
    <div class="modal fade" id="calendarModalBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">Calendar...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="calendar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{index::footer}"></div>
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="/static/assets/js/post.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

</body>
</html>