<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{index::head}">
    <title>Create Community</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div th:replace="~{index::header}"></div>
<div th:replace="~{index::navbar}"></div>
<main id="main" class="main">
    <div class="container mt-5">
        <span id="message"></span>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCommunityModal" sec:authorize="hasAnyAuthority('ADMIN')">
            Create Community
        </button>
        <br><br>

        <!-- Create Community Modal -->
        <div class="modal fade" id="createCommunityModal" tabindex="-1" aria-labelledby="createCommunityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createCommunityModalLabel">Create Community</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="createCommunityForm">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name">
                                <span id="nameError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="ownerId">Choose Owner Name:</label>
                                <select class="form-control" id="ownerId" name="ownerId">
                                    <option value="">Select Owner</option>
                                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                                </select>
                                <span id="ownerIdError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <input type="text" class="form-control" id="description" name="description">
                                <span id="descriptionError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="file">Image:</label>
                                <input type="file" class="form-control" accept="image/**" id="file" name="file"
                                       multiple="multiple"/>
                                <span id="fileError" class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="createCommunityBtn">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <link rel="stylesheet" href="/assets/css/group-card.css">
        <div class="row" id="communityCards"></div>
    </div>
    <!-- Add Community Modal -->
    <div class="container">
        <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createCommunityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createGroupModalLabel">Add User in Community</h5>
                    </div>
                    <div class="modal-body">
                        <form id="createGroupForm">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name1" name="name">
                            </div><br>
                            <input type="hidden" id="communityId1" name="id">
                            <div class="row mb-4">
                                <label>Choose Member's List:</label><br>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="userSearch" placeholder="Search users.." style="margin-left: 329px">
                                    <div id="usersList"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description1">Description:</label>
                                <input type="text" class="form-control" id="description1" name="description">
                            </div><br>
                            <div class="form-group">
                                <label for="image1">Image:</label>
                                <input type="file" class="form-control" accept="image/**" id="image1" name="file" multiple="multiple"/>
                            </div>
                            <span id="photo"></span>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="createGroupModalCloseBtn">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="createGroupBtn">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Kick Community Modal -->
    <div class="container">
        <div class="modal fade" id="kickModal" tabindex="-1" aria-labelledby="createCommunityModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <form id="kickForm">
                            <div class="row mb-4">
                                <label>Member's List:</label><br>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="userSearchForKick" placeholder="Search users.." style="margin-left: 329px">
                                    <div id="userList"></div>
                                </div>
                            </div>
                            <input type="hidden" id="communityId" name="id">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="kickModalCloseBtn">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="kickGroupBtn">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<div th:replace="~{index::footer}"></div>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

async function goToCommunityDetail(id){
    localStorage.setItem('communityIdForDetailPage',id)
    window.location.href = '/api/community/goToCommunityDetail'
}

    document.getElementById('createCommunityBtn').addEventListener('click', async (e) => {
        e.preventDefault();

        const name = document.getElementById('name').value;
        const ownerId = document.getElementById('ownerId').value;
        const description = document.getElementById('description').value;
        const file = document.getElementById('file').value;
        let isValid = true;
        if (name.trim() === '') {
            document.getElementById('nameError').innerHTML = 'Name cannot be empty!';
            isValid = false;
        } else {
            document.getElementById('nameError').innerHTML = '';
        }

        if (ownerId.trim() === '') {
            document.getElementById('ownerIdError').innerHTML = 'Please select a owner!';
            isValid = false;
        } else {
            document.getElementById('ownerIdError').innerHTML = '';
        }

        if (description.trim() === '') {
            document.getElementById('descriptionError').innerHTML = 'Please fill the description out!';
            isValid = false;
        } else {
            document.getElementById('descriptionError').innerHTML = '';
        }

        if (file.trim() === '') {
            document.getElementById('fileError').innerHTML = 'Please select a group photo';
            isValid = false;
        } else {
            document.getElementById('fileError').innerHTML = '';
        }

        if(!isValid){
            e.preventDefault();
        }else{
            $('#createCommunityModal').modal('hide');
           await insertGroup();
        }

    });
const insertGroup = async () => {
    const formData = new FormData(document.getElementById('createCommunityForm'));
    const url = "/api/community/createCommunity";
    const data = await fetch(url, {
        method: 'POST',
        body: formData
    });
    if (data.ok) {
        const result = await data.json();
        await fetchCommunities();
        const messageElement = document.getElementById('message');
        document.getElementById('createCommunityForm').reset();
        let alertMessage = result.message;
        let alertStyle = `
            background-color: blue;
            color: white;
            border: 1px solid #cc0000;
             border-radius: 15px;
        `;
        let styledAlert = document.createElement('div');
        styledAlert.style.cssText = `
            ${alertStyle}
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10000;
            display: none;
        `;
        styledAlert.innerHTML = alertMessage;


        document.body.appendChild(styledAlert);


        styledAlert.style.display = 'block';

        setTimeout(function () {
            styledAlert.style.display = 'none';
        }, 3000);
    } else {
        const content = 'Error creating community';

        let alertMessage = content;
        let alertStyle = `
            background-color: red;
            color: white;
            border: 1px solid #cc0000;
             border-radius: 15px;
        `;
        let styledAlert = document.createElement('div');
        styledAlert.style.cssText = `
            ${alertStyle}
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10000;
            display: none;
        `;
        styledAlert.innerHTML = alertMessage;


        document.body.appendChild(styledAlert);


        styledAlert.style.display = 'block';

        setTimeout(function () {
            styledAlert.style.display = 'none';
        }, 3000);
    }
}
    document.addEventListener("DOMContentLoaded", function () {
        fetchCommunities();
    });

    async function fetchCommunities() {
        fetch('/api/community/communityview')
            .then(response => response.json())
            .then(data => {
                populateCommunityCards(data);
            })
            .catch(error => {
                console.error('Error fetching communities:', error);
            });
    }
    async function fetchOwnerNames(communityId) {
        const response = await fetch(`/api/community/ownerNames/${communityId}`);
        const data = await response.json();
        return data;
    }
    async function populateCommunityCards(communities) {
        const communityCardsContainer = document.getElementById('communityCards');
        let cardsHtml = '';
        const currentUser = await getCurrentUser();

        for (let i = 0; i < communities.length; i++) {
            const community = communities[i];
            let photo = '';
            if (community.image) {
                photo = `<img src="${community.image}" alt="Group's Photo" width="100" height="100">`;
            }
            const ownerNames = await fetchOwnerNames(community.id);
            const isNotCurrentUserOwner = currentUser.name !== community.ownerName && currentUser.role === 'USER';
            const isNotAdmin= currentUser.role !== 'ADMIN';
            const memberNames = ownerNames.length > 1 ? ownerNames.slice(1, 4).join(', ') : '';
            const moreMembersCount = ownerNames.length - 3;
            const moreMembersText = moreMembersCount > 0 ? `+${moreMembersCount} more` : '';

            cardsHtml += `
        <div class="card community-card">
            ${photo}
            <div class="card-body">
                <h5 class="card-title">${community.name}</h5>
                <p class="card-text">${community.description}</p>
                <p class="card-text">Owner: ${community.ownerName}</p>
                <div class="member-list">
                    <span class="member-name">${memberNames}</span>
                    ${moreMembersText ? `<span class="member-name">${moreMembersText}</span>` : ''}
                </div>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="goToCommunityDetail(${community.id})">View Detail</a>
                        <a class="dropdown-item" href="#" ${isNotCurrentUserOwner ? 'hidden' : ''} onclick="populateKickGroupForm(${community.id})">Kick a Member</a>
                        <a class="dropdown-item" href="#" ${isNotAdmin ? 'hidden' : ''} onclick="deleteCommunity(${community.id})">Delete the Group</a>
                    </div>
                </div>
                <button type="button" class="btn btn-primary chat-button"><i class="fa fa-comments"></i></button>
               <button type="button" class="btn btn-success add-button" ${isNotCurrentUserOwner ? 'hidden' : ''} onclick="populateCreateGroupForm(${community.id}, \'${community.name}\', \'${community.ownerName}\', \'${community.description}\', \'${community.image}\')"><i class="fa fa-factory"></i></button>
            </div>
        </div>
    `;
        }

        communityCardsContainer.innerHTML = cardsHtml;
    }

    const getAllUsers = async () => {
        const url = '/api/community/users';
        const data = await fetch(url);
        if (data.ok) {
            const dataResponse = await data.json();
            console.log('all users', dataResponse);
            return dataResponse;
        }
    };



    const getUsersByCommunityId = async (id) => {
        const url = `/api/community/user/${id}`;
        const data = await fetch(url);
        if (data.ok) {
            const dataResponse = await data.json();
            console.log('community users', dataResponse);
            return dataResponse;
        }
    };
    async function getCommunityById(id) {
        const response = await fetch(`/api/community/getCommunity/${id}`);
        const data = await response.json();
        return data;
    }
    async function getCurrentUser() {
        const response = await fetch('/api/community/user/current');
        const data = await response.json();
        return data;
    }
    document.getElementById('userSearch').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const usersList = document.getElementById('usersList');
        const allUsers = document.querySelectorAll('#usersList #container');

        allUsers.forEach(userContainer => {
            const userNameElement = userContainer.querySelector('.user-list-span');
            if (userNameElement) {
                const userName = userNameElement.textContent.toLowerCase();
                if (userName.includes(searchValue)) {
                    userContainer.style.display = 'block';
                } else {
                    userContainer.style.display = 'none';
                }
            }
        });
    });


    async function populateCreateGroupForm(id, name, ownerName, description, image) {
        document.getElementById('communityId1').value = id;
        document.getElementById('name1').value = name;
        document.getElementById('description1').value = description;
        // document.getElementById('image1').innerHTML = '';
        // document.getElementById('image1').value = image;

        const allUsers = await getAllUsers();
        const communityUsers = await getUsersByCommunityId(id);

        const usersNotInCommunity = allUsers.filter(user => !communityUsers.some(communityUser => communityUser.id === user.id));

        const usersList = document.getElementById('usersList');

        usersList.innerHTML = '';


        allUsers.forEach(user => {

            const userContainer = document.createElement('div');
            userContainer.id = "container";
            userContainer.style.padding = '20px';
            userContainer.style.borderRadius = '10px';
            userContainer.style.marginLeft = "280px";

            const container=document.createElement('div');
            container.id="container1";
            container.style.marginBottom="80px";

            const photoSpan = document.createElement('span');
            if (user.photo) {
                const userPhoto = document.createElement('img');
                userPhoto.src = user.photo;
                userPhoto.alt = "User's Photo";
                photoSpan.appendChild(userPhoto);
            } else {
                const userPhoto = document.createElement('img');
                userPhoto.src = '/assets/img/default-logo.png';
                userPhoto.alt = "User's Photo";
                photoSpan.appendChild(userPhoto);
            }

            const nameSpan = document.createElement('span');
            nameSpan.classList.add('user-list-span')
            nameSpan.textContent = user.name;

            const checkboxInput = document.createElement('input');
            checkboxInput.type = "checkbox";
            checkboxInput.id = `_checkbox${user.id}`;
            checkboxInput.name = "user";
            checkboxInput.value = user.id;
            if (communityUsers.some(communityUser => communityUser.id === user.id)) {
                checkboxInput.checked = true;
                checkboxInput.disabled = true;
            }

            const checkboxLabel = document.createElement('label');
            checkboxLabel.htmlFor = `_checkbox${user.id}`;
            checkboxLabel.className = "form-check-label";
            checkboxLabel.style.marginLeft = "390px";

            const tickMarkDiv = document.createElement('div');
            tickMarkDiv.className = `tick_mark`;

            checkboxLabel.appendChild(tickMarkDiv);
            userContainer.appendChild(photoSpan);
            container.appendChild(photoSpan);
            userContainer.appendChild(nameSpan);
            container.appendChild(nameSpan);
            userContainer.appendChild(container);
            userContainer.appendChild(checkboxInput);
            userContainer.appendChild(checkboxLabel);

            usersList.appendChild(userContainer);
        });

        const photoContainer = document.getElementById('photo');
        photoContainer.innerHTML = '';

        if (image) {
            const img = document.createElement('img');
            img.src = `${image}`;
            img.alt = "Community's Photo";
            img.width = 100;
            img.height = 100;
            photoContainer.appendChild(img);
        }

        $('#createGroupModal').modal('show');
    }



    document.getElementById('createGroupBtn').addEventListener('click', async (e) => {
        e.preventDefault();

        const formData = new FormData(document.getElementById('createGroupForm'));

        const url = "/api/community/createGroup";
        const data = await fetch(url, {
            method: 'POST',
            body: formData
        });
        if (data.ok) {
            const result = await data.json();
            await fetchCommunities();
            $('#createGroupModal').modal('hide');
            let alertMessage =   result.message;
            let alertStyle = `
            background-color: blue;
            color: white;
            border: 1px solid #cc0000;
             border-radius: 15px;
        `;
            let styledAlert = document.createElement('div');
            styledAlert.style.cssText = `
            ${alertStyle}
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10000;
            display: none;
        `;
            styledAlert.innerHTML = alertMessage;


            document.body.appendChild(styledAlert);


            styledAlert.style.display = 'block';

            setTimeout(function() {
                styledAlert.style.display = 'none';
            }, 3000);
        } else {

       const content =  "Error Adding Users";
            let alertMessage =   content;
            let alertStyle = `
            background-color: red;
            color: white;
            border: 1px solid #cc0000;
             border-radius: 15px;
        `;
            let styledAlert = document.createElement('div');
            styledAlert.style.cssText = `
            ${alertStyle}
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10000;
            display: none;
        `;
            styledAlert.innerHTML = alertMessage;


            document.body.appendChild(styledAlert);


            styledAlert.style.display = 'block';

            setTimeout(function() {
                styledAlert.style.display = 'none';
            }, 3000);
        }

    });


    const deleteCommunity = async (communityId) => {
        const url = `/api/community/delete/${communityId}`;
        const cancelUser = await fetch(url, {
            method: 'DELETE'
        });

        if (!cancelUser.ok) {
            alert('DELETE error');
        }
        await fetchCommunities();

    }

    let currentCommunityID;

    document.getElementById('userSearchForKick').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const usersList = document.getElementById('userList');
        const allUsers = document.querySelectorAll('#userList #container');

        allUsers.forEach(userContainer => {
            const userNameElement = userContainer.querySelector('.kick-user-list-member');
            if (userNameElement) {
                const userName = userNameElement.textContent.toLowerCase();
                if (userName.includes(searchValue)) {
                    userContainer.style.display = 'block';
                } else {
                    userContainer.style.display = 'none';
                }
            }
        });
    });

    async function populateKickGroupForm(id) {
        currentCommunityID = id;
        document.getElementById('communityId').value = id;
        const communityUsers = await getUsersByCommunityId(id);
        const usersList = document.getElementById('userList');
        const kickGroup=document.getElementById('kickGroup');

        const community = await getCommunityById(id);
        const currentUser = await getCurrentUser();

        usersList.innerHTML = '';
        communityUsers.forEach(user => {
            if (currentUser.role === "ADMIN") {

                const userDiv = document.createElement('div');
                userDiv.id = "container";
                userDiv.style.padding = '20px';
                userDiv.style.borderRadius = '10px';
                userDiv.style.marginLeft = "280px";

                const nestedDiv = document.createElement('div');
                nestedDiv.id = "container1";
                nestedDiv.style.marginBottom = "80px";

                const photoSpan = document.createElement('span');
                const nameSpan = document.createElement('span');
                nameSpan.classList.add('kick-user-list-member');
                nameSpan.textContent = user.name;

                if (user.photo) {
                    const photoImg = document.createElement('img');
                    photoImg.src = user.photo;
                    photoImg.alt = "User's Photo";
                    photoSpan.appendChild(photoImg);
                }else {
                    const userPhoto = document.createElement('img');
                    userPhoto.src = '/assets/img/default-logo.png';
                    userPhoto.alt = "User's Photo";
                    photoSpan.appendChild(userPhoto);
                }

                const checkbox = document.createElement('input');
                checkbox.type = "checkbox";
                checkbox.id = `_kickcheckbox${user.id}`;
                checkbox.name = "userIds";
                checkbox.value = user.id;

                const label = document.createElement('label');
                label.htmlFor = `_kickcheckbox${user.id}`;
                label.className = "form-check-label";
                label.style.marginLeft = "390px";

                const tickMarkDiv = document.createElement('div');
                tickMarkDiv.className = "tick_mark";

                nestedDiv.appendChild(photoSpan);
                nestedDiv.appendChild(nameSpan);
                label.appendChild(tickMarkDiv);

                userDiv.appendChild(nestedDiv);
                userDiv.appendChild(checkbox);
                userDiv.appendChild(label);

                usersList.appendChild(userDiv);

            } else if (user.name !== community.ownerName) {

                const userDiv = document.createElement('div');
                userDiv.id = "container";
                userDiv.style.padding = '20px';
                userDiv.style.borderRadius = '10px';
                userDiv.style.marginLeft = "280px";

                const nestedDiv = document.createElement('div');
                nestedDiv.id = "container1";
                nestedDiv.style.marginBottom = "80px";

                const photoSpan = document.createElement('span');
                const nameSpan = document.createElement('span');
                nameSpan.textContent = user.name;

                if (user.photo) {
                    const photoImg = document.createElement('img');
                    photoImg.src = user.photo;
                    photoImg.alt = "User's Photo";
                    photoSpan.appendChild(photoImg);
                }else {
                    const userPhoto = document.createElement('img');
                    userPhoto.src = '/assets/img/default-logo.png';
                    userPhoto.alt = "User's Photo";
                    photoSpan.appendChild(userPhoto);
                }

                const checkbox = document.createElement('input');
                checkbox.type = "checkbox";
                checkbox.id = `_kickcheckbox${user.id}`;
                checkbox.name = "userIds";
                checkbox.value = user.id;

                checkbox.addEventListener('change',()=>{
                    console.log('checkbox is checked---->')
                })

                const label = document.createElement('label');
                label.htmlFor = `_kickcheckbox${user.id}`;
                label.className = "form-check-label";
                label.style.marginLeft = "390px";

                const tickMarkDiv = document.createElement('div');
                tickMarkDiv.className = "tick_mark";

                nestedDiv.appendChild(photoSpan);
                nestedDiv.appendChild(nameSpan);
                label.appendChild(tickMarkDiv);

                userDiv.appendChild(nestedDiv);
                userDiv.appendChild(checkbox);
                userDiv.appendChild(label);

                usersList.appendChild(userDiv);
            }
        });

        $('#kickModal').modal('show');
    }

    document.getElementById('kickGroupBtn').addEventListener('click', async (e) => {
        e.preventDefault();
        document.getElementById('communityId').value = currentCommunityID;
        const formData = new FormData(document.getElementById('kickForm'));
        const url = "/api/community/kick";
        const data = await fetch(url, {
            method: 'POST',
            body: formData
        });

        if (data.ok) {
            const result = await data.json();
            await fetchCommunities();
           const content ="Kicked Successfully";
            $('#kickModal').modal('hide');
            let alertMessage =  content;
            let alertStyle = `
            background-color: blue;
            color: white;
            border: 1px solid #cc0000;
             border-radius: 15px;
        `;
            let styledAlert = document.createElement('div');
            styledAlert.style.cssText = `
            ${alertStyle}
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10000;
            display: none;
        `;
            styledAlert.innerHTML = alertMessage;


            document.body.appendChild(styledAlert);


            styledAlert.style.display = 'block';

            setTimeout(function() {
                styledAlert.style.display = 'none';
            }, 3000);
        } else {
           const content =  'Error kicking users from community';
            let alertMessage =  content;
            let alertStyle = `
            background-color: red;
            color: white;
            border: 1px solid #cc0000;
             border-radius: 15px;
        `;
            let styledAlert = document.createElement('div');
            styledAlert.style.cssText = `
            ${alertStyle}
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10000;
            display: none;
        `;
            styledAlert.innerHTML = alertMessage;


            document.body.appendChild(styledAlert);


            styledAlert.style.display = 'block';

            setTimeout(function() {
                styledAlert.style.display = 'none';
            }, 3000);
        }
    });

    document.getElementById('createGroupModalCloseBtn').addEventListener('click', function() {
        $('#createGroupModal').modal('hide');
    });
    document.getElementById('kickModalCloseBtn').addEventListener('click', function() {
        $('#kickModal').modal('hide');
    });
</script>
</body>
</html>