<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
<div th:replace="~{index::header}"></div>
<div th:replace="~{index::navbar}"></div>
<main id="main" class="main">
    <button sec:authorize="hasAnyAuthority('ADMIN')" id="modeToggleBtn" class="btn btn-primary mode-toggle-btn"
            onclick="toggleView()">User Mode
    </button>
    <br>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" aria-labelledby="uploadExcelModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #007bff; color: white;">
                    <h5 class="modal-title" id="uploadExcelModalLabel">Upload Excel File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="uploadForm">
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Select Excel file</label>
                            <input class="form-control" type="file" id="fileInput" name="file" accept=".xlsx, .xls">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="uploadButton">Upload</button>
                </div>
            </div>
            <script src="/static/assets/js/excelUpload.js"></script>
        </div>
    </div>
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Success</h5>
                </div>
                <div class="modal-body">
                    <p>Data upload into the database successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="changePasswordModal" class="modal fade" tabindex="-1">
        <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/modals.css}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="currentPassword">Current Password:</label>
                        <div class="input-group">
                            <input type="password" id="currentPassword" name="currentPassword" required class="form-control">
                            <button id="checkPasswordBtn" class="btn btn-primary">Check</button>
                        </div>
                    </div>
                    <div id="changePasswordFields">
                        <div class="form-group">
                            <label for="changePassword">New Password:</label>
                            <input type="password" id="changePassword" name="changePassword" required class="form-control">
                            <div id="changePasswordMessage" class="text-danger" style="display: none">Your password is weak.</div>
                        </div>
                        <div class="form-group">
                            <label for="confirmChangePassword">Confirm Password:</label>
                            <input type="password" id="confirmChangePassword" name="confirmChangePassword" required class="form-control">
                            <div id="confirmChangePasswordMessage" class="text-danger" style="display: none">Passwords do not match.</div>
                        </div>
                        <div class="button-group">
                            <button id="restartBtn" class="btn btn-secondary">Restart</button>
                            <button id="saveBtn" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/assets/js/changePassword.js" defer></script>
    <div class="modal fade" id="calendarModalBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">Calendar...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="calendar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="tableView" class="table-responsive" style="width:100%" sec:authorize="hasAnyAuthority('ADMIN')">
        <table id="usersTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Profile</th>
                <th>Name</th>
                <th>Email</th>
                <th>Division</th>
                <th>Staff ID</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:unless="${user.staffId == '99-09999'}">
                <td th:text="${user.id}"></td>
                <td>
                    <a th:href="@{/user/other-user-profile(id=${user.id})}">
                        <img th:if="${user.photo!= null}" th:src="@{ ${user.photo}}" alt="User Photo"
                             style=" width: 50px;  height: 50px; border-radius: 50%;  object-fit: cover;"/>
                        <img th:unless="${user.photo!= null}" th:src="@{/assets/img/default-logo.png}" alt="Default Photo"
                             style=" width: 50px;  height: 50px; border-radius: 50%;  object-fit: cover;"/>
                    </a>
                </td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.division}"></td>
                <td th:text="${user.staffId}"></td>
                <td>
                    <span th:text="${user.role}"></span>
                    <th:block th:if="${user.role != 'DEFAULT_USER'}">
                        <th:block th:if="${user.pending}">
                            <i class="fas fa-spinner fa-spin"></i>
                        </th:block>
                        <th:block th:if="${user.rejected}">
                            <button type="button" class="btn btn-warning btn-sm">
                                <i class="fas fa-exclamation-triangle" id="warningIcons"></i>
                            </button>
                        </th:block>
                        <th:block th:unless="${user.pending}">
                            <th:block th:unless="${user.rejected}">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i th:unless="${user.done}" class="fas fa-pencil-alt" id="pencilIcons"></i>
                                    <i th:if="${user.done}" class="fas fa-trash-alt" id="trashIcons"></i>
                                </button>
                            </th:block>
                        </th:block>
                    </th:block>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#userDetailModal-' + ${user.id}">View Detail
                    </button>
                    <button th:if="${user.isActive}" class="btn btn-danger btn-ban">Ban</button>
                    <button th:unless="${user.isActive}" class="btn btn-success btn-unban">UnBan</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="cardView" sec:authorize="hasAnyAuthority('USER','ADMIN')" >
        <link rel="stylesheet" href="/assets/css/userView.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3" th:each="user : ${users}" th:unless="${user.staffId == '99-09999'}">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" th:data-userid="${user.id}">
                        <div class="advisor_thumb">
                            <img th:if="${user.photo != null}" th:src="@{${user.photo}}" alt="User Photo" class="img-fluid rounded-circle" style="min-height: 160px;">
                            <img th:unless="${user.photo != null}" th:src="@{/assets/img/default-logo.png}" alt="Default Photo" class="img-fluid rounded-circle" style="min-height: 160px;">
                            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                        </div>
                        <div class="single_advisor_details_info">
                            <h6 th:text="${user.name}"></h6>
                            <p class="designation" th:text="${user.dept}"></p>
                            <p class="designation" th:text="${user.email}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rejectedRoleModal" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="updateRoleModalLabel" aria-hidden="true">
        <link href="/static/assets/css/userToAdminModal.css" rel="stylesheet">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeRoleModalLabel">Removed Admin Role</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="acceptRejectedRoleBtn" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeUserModal" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="removeUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeUserModalLabel">Reason for Removal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="removalReason" class="form-label">Please provide a reason for removing the
                            user:</label>
                        <textarea class="form-control" id="removalReason" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitRemovalReason">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="banUserModal" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="removeUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="banUserModalLabel">Reason for Ban</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="banReason" class="form-label">Please provide a reason for banning the user:</label>
                        <textarea class="form-control" id="banReason" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitBanReason">Submit</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:each="user : ${users}" sec:authorize="hasAnyAuthority('ADMIN')">
    <div class="modal fade" th:id="'userDetailModal-' + ${user.id}" tabindex="-1" aria-labelledby="userDetailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userDetailModalLabel">User Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="rounded-top text-white d-flex flex-row" style="height:200px;"
                                         onclick="showbgModal()" id="profile-background">
                                        <img id="profile-background-img" src="/assets/img/pf-bg1.gif"
                                             style="position: absolute; top: 0; left: 0; width: 100%; height: 200px; object-fit: cover; "
                                             alt="pf-bg">
                                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                            <img id="profile-photo" src="/assets/img/default-logo.png" alt="Profile"
                                                 class="img-fluid img-thumbnail mt-4 mb-2"
                                                 style="width: 150px; z-index: 1" th:if="${user.photo == null}">
                                            <img th:unless="${user.photo == null}" th:src="${user.photo}" alt="Profile"
                                                 class="img-fluid img-thumbnail mt-4 mb-2"
                                                 style="width: 150px; z-index: 1"/>
                                        </div>
                                        <div class="ms-3" style="margin-top: 130px;">
                                            <h5 th:text="${user.name}">Name</h5>
                                            <p th:text="${user.role}">Role</p>
                                        </div>
                                    </div>
                                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                                        <div class="d-flex justify-content-end text-center py-1">
                                        </div>
                                    </div>
                                    <div class="card-body p-4 text-black">
                                        <div class="mb-5">
                                            <p class="lead fw-normal mb-1">About</p>
                                            <div class="p-4" style="background-color: #f8f9fa;">
                                                <p class="font-italic mb-1">
                                                    <strong>Date of Birth:</strong> <span th:text="${user.dob}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Email:</strong> <span th:text="${user.email}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Phone:</strong> <span th:text="${user.phone}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Gender:</strong> <span th:text="${user.gender}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Department:</strong> <span th:text="${user.dept}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Division:</strong> <span th:text="${user.division}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Team:</strong> <span th:text="${user.team}?: 'Not provided'"></span>
                                                </p>
                                                <p class="font-italic mb-1">
                                                    <strong>Role:</strong> <span th:text="${user.role}?: 'Not provided'"></span>
                                                </p>
                                                    <strong>Hobbies:</strong>
                                                <div th:id="'hobbiesContainer-' + ${user.id}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{index::footer}"></div>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const userRole = /*[[${#authentication.principal.authorities}]]*/ '';
    console.log(userRole)
    /*]]>*/
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const pencilIcons = document.querySelectorAll('#pencilIcons');
        const trashIcons = document.querySelectorAll('#trashIcons');
        const warningIcon = document.querySelectorAll('#warningIcons')
        pencilIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                const userId = this.closest('tr').querySelector('td:first-child').textContent.trim();
                console.log("Pencil icon clicked");
                updateUserToAdminStatus(userId, 'pending', true);
            });
        });
        warningIcon.forEach(icon => {
            icon.addEventListener('click', function () {
                const userId = this.closest('tr').querySelector('td:first-child').textContent.trim();
                console.log("warning icon is clicked");
                document.getElementById('rejectedRoleModal').setAttribute('data-user-id', userId);
                fetch('/user/getRejectReason', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({userId: userId})
                })
                    .then(response => response.json())
                    .then(data => {
                        const modalBody = document.getElementById('rejectedRoleModal').querySelector('.modal-body');
                        modalBody.innerHTML = `Sorry User <strong>${data.name}</strong> rejected to update to the admin role due to the fact <span style="color: #ff0000">${data.rejectReason}</span>.`;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                const modal = new bootstrap.Modal(document.getElementById('rejectedRoleModal'));
                modal.show();
            })
        })
        trashIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                const userId = this.closest('tr').querySelector('td:first-child').textContent.trim();
                console.log("Trash icon clicked");
                document.getElementById('removeUserModal').setAttribute('data-user-id', userId);
                const modal = new bootstrap.Modal(document.getElementById('removeUserModal'));
                modal.show();
            });
        });
        const submitButton = document.getElementById('submitRemovalReason');

        submitButton.addEventListener('click', function () {
            const userId = document.getElementById('removeUserModal').getAttribute('data-user-id');
            const removalReason = document.getElementById('removalReason').value;
            removedAdminToUserStatus(userId, 'removedStatus', true, removalReason);
            const modal = bootstrap.Modal.getInstance(document.getElementById('removeUserModal'));
            modal.hide();
        });

        const acceptRoleBtn = document.getElementById('acceptRejectedRoleBtn');

        acceptRoleBtn.addEventListener('click', function () {
            const userId = document.getElementById('rejectedRoleModal').getAttribute('data-user-id');
            removeUserStatusAndRole(userId);
        });

        function removeUserStatusAndRole(userId) {
            fetch(`/user/acceptRejected`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userId: userId
                })
            })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to update user status and role');
                    }
                })
                .catch(error => {
                    console.error('Error updating user status and role:', error);
                });
        }

        function removedAdminToUserStatus(userId, statusField, newValue, removalReason) {
            fetch('/user/removedAdmin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({userId: userId, [statusField]: newValue, removedReason: removalReason})
            })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.log("Failed to update admin status")
                    }
                })
                .catch(error => {
                    console.error('Error updating user status: ', error);
                })
        }

        function updateUserToAdminStatus(userId, statusField, newValue) {
            fetch(`/user/updateUserToAdminStatus`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({userId: userId, [statusField]: newValue})
            })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to update user status');
                    }
                })
                .catch(error => {
                    console.error('Error updating user status:', error);
                });
        }
        const hobbyIcons = {
            "Reading": "<i class='fas fa-book' style='color: #4a86e8;'></i>",
            "Hiking": "<i class='fas fa-hiking' style='color: #f6b26b;'></i>",
            "Cooking": "<i class='fas fa-utensils' style='color: #e55039;'></i>",
            "Gardening": "<i class='fas fa-seedling' style='color: #8bc34a;'></i>",
            "Writing": "<i class='fas fa-pen' style='color: #673ab7;'></i>",
            "Photography": "<i class='fas fa-camera' style='color: #9e9e9e;'></i>",
            "Coding": "<i class='fas fa-laptop-code' style='color: #607d8b;'></i>",
            "Drawing": "<i class='fas fa-draw-polygon' style='color: #ff9800;'></i>",
            "Swimming": "<i class='fas fa-swimmer' style='color: #00bcd4;'></i>",
            "Gaming": "<i class='fas fa-gamepad' style='color: #4caf50;'></i>",
            "Painting": "<i class='fas fa-paint-brush' style='color: #9c27b0;'></i>",
            "Traveling": "<i class='fas fa-globe-americas' style='color: #795548;'></i>",
            "Cycling": "<i class='fas fa-bicycle' style='color: #607d8b;'></i>",
            "Camping": "<i class='fas fa-campground' style='color: #ff9800;'></i>",
            "Fishing": "<i class='fas fa-fish' style='color: #00bcd4;'></i>",
            "Birdwatching": "<i class='fas fa-binoculars' style='color: #4caf50;'></i>",
            "Meditation": "<i class='fas fa-meditate' style='color: #9c27b0;'></i>",
            "Music": "<i class='fas fa-music' style='color: #795548;'></i>",
            "Jogging": "<i class='fas fa-running' style='color: #4a86e8;'></i>",
            "Sports": "<i class='fas fa-futbol' style='color: #f6b26b;'></i>",
            "Crafts": "<i class='fas fa-craft' style='color: #e55039;'></i>",
            "Sewing": "<i class='fas fa-scissors' style='color: #8bc34a;'></i>",
            "Crochet": "<i class='fas fa-crop' style='color: #673ab7;'></i>",
            "Acting": "<i class='fas fa-theater-masks' style='color: #9e9e9e;'></i>"
        };

        function displayHobbiesWithIcons(hobbiesString) {
            const hobbies = hobbiesString.split(',');
            console.log(hobbies+"reach here.")
            let html = "";
            hobbies.forEach(hobby => {
                const icon = hobbyIcons[hobby];
                if (icon) {
                    html += `<div>${icon} ${hobby}</div>`;
                }
            });
            return html;
        }

        function fetchAndDisplayUserHobbies(userId) {
            fetch(`/user/getUserHobbies/${userId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch user hobbies');
                    }
                    return response.json();
                })
                .then(data => {
                    const hobbies = data.hobbies;
                    const hobbiesContainer = document.getElementById(`hobbiesContainer-${userId}`);
                    if (hobbiesContainer) {
                        hobbiesContainer.innerHTML = displayHobbiesWithIcons(hobbies);
                    }
                })
                .catch(error => {
                    console.error('Error fetching user hobbies:', error);
                });
        }

        // Add event listeners to "View Detail" buttons
        document.querySelectorAll('button[data-bs-target^="#userDetailModal-"]').forEach(button => {
            button.addEventListener('click', event => {
                const userId = event.currentTarget.getAttribute('data-bs-target').split('-').pop();
                fetchAndDisplayUserHobbies(userId);
            });
        });
    });
    $(document).ready(function () {
        $('.single_advisor_profile').on('click', function() {
            const userId = $(this).data('userid');
            localStorage.setItem('userIdForDetailPage',userId)
            window.location.href = '/user/other-user-profile?id=' + userId;

        });
        const tableView = $('#tableView');
        const cardView = $('#cardView');
        const modeToggleBtn = $('#modeToggleBtn');
        const userRole = getUserRole();
        console.log("User role: " + userRole);
        if (userRole === 'ADMIN') {
            console.log("Admin reach")
            tableView.show();
            cardView.hide();
            modeToggleBtn.text('User Mode');
        } else if (userRole === 'USER') {
            console.log("user reach")
            tableView.hide();
            cardView.show();
            modeToggleBtn.hide();
        }
        const table = $('#usersTable').DataTable({
            lengthChange: true,
            buttons: ['copy', 'excel', 'pdf', 'print']
        });
        $(document).ready(function() {
            $('#usersTable').on('click', '.btn-ban', function(event) {
                event.preventDefault();
                const userId = $(this).closest('tr').find('td:first').text();
                console.log("banned button clicked.")
                document.getElementById('banUserModal').setAttribute('data-user-id', userId);
                const modal = new bootstrap.Modal(document.getElementById('banUserModal'));
                modal.show();

                const submitButton = document.getElementById('submitBanReason');

                submitButton.addEventListener('click', function() {
                    const userId = document.getElementById('banUserModal').getAttribute('data-user-id');
                    const banReason = document.getElementById('banReason').value;
                    updateUserStatus(userId, false, banReason);
                    const modal = bootstrap.Modal.getInstance(document.getElementById('banUserModal'));
                    modal.hide();
                });
            });

            $('#usersTable').on('click', '.btn-unban', function(event) {
                event.preventDefault();
                const userId = $(this).closest('tr').find('td:first').text();
                updateUserStatus(userId, true, null);
            });
        });

    });

    function updateUserStatus(userId, isActive, banReason) {
        fetch(`/user/updateUserStatus`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: userId,
                isActive: isActive,
                banReason: banReason
            })
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to update user status');
                }
            })
            .catch(error => {
                console.error('Error updating user status:', error);
            });
    }

    function toggleView() {
        const tableView = $('#tableView');
        const cardView = $('#cardView');
        const modeToggleBtn = $('#modeToggleBtn');
        console.log("reach 2")
        if (tableView.is(':visible')) {
            // Switch to card view
            tableView.hide();
            cardView.show();
            modeToggleBtn.text('Admin Mode');
            console.log("reach 3")
        } else {
            // Switch to table view
            tableView.show();
            cardView.hide();
            modeToggleBtn.text('User Mode');
            console.log("reach 4")
        }
    }

    function getUserRole() {

        if (userRole && Array.isArray(userRole) && userRole.length > 0) {

            return userRole[0].authority;
        } else {

            return 'UNKNOWN';
        }
    }

</script>

</body>
</html>